@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Mynerve&display=swap');
* {
    margin: 0;
    padding: 0;
}

#header {
    height: 100px;
    background: rgb(91, 126, 80);
    color: rgb(104, 181, 104);
    text-align: center;
    border-bottom: rgb(56, 39, 39) solid 2px;
}

h1  {
    font-family: 'Golos Text', sans-serif;
    text-align: center;
    margin: 1%;
}

#left_image {
    width: 20%;
    height: 20%;
    float: left;
    margin: 3px 12px 0px 0px;
}

p {
    float: left;
    font-family: 'Golos Text', sans-serif;
}

#footer {
    width: 100%;
    height: 40px;
    background: rgb(28, 9, 9);
    color: grey;
    font-size: 10px;
    position: absolute;bottom: 0;
    text-align: center;
}

#header button {
    background: #00B454;
    color: #063e30;
}

#header button:hover {
    background: #8EF13C;
    color:rgb(56, 39, 39);
    cursor: pointer;
}

ul {
    align-items: center;
}

form {
    float: center;
}